*.obj
*.ninja
*.ninja_log
*.ninja_deps
__pycache__/*
data/__pycache__/*
model/__pycache__/*
model/non_local/__pycache__/*
model/utils/__pycache__/*
model/burstM/__pycache__/*
model/FBANet/__pycache__/*
model/deeprep/__pycache__/*
model/alignment/__pycache__/*
model/layers/__pycache__/*
model/pwcnet/__pycache__/*
model/pwcnet/correlation/__pycache__/*
pwcnet/__pycache__/*
pwcnet/correlation/__pycache__/*
public_release/*
comparison/*

BSRT_pretrained_models/
.vscode/

workspace/*
local.py

model/burstormer/__pycache__/*
model/burstormer/utils/__pycache__/*

*.asv
