torch==1.11.0
torchvision==0.12.0
torchaudio==0.11.0
accelerate
attrs
certifi
cffi
charset-normalizer
colour-demosaicing
colour-science
contourpy
correlation
cycler
dataclasses
deformable-attention
einops
exceptiongroup
execnet
fastrlock
filelock
fonttools
h5py
huggingface-hub
idna
imageio
importlib-resources
iniconfig
joblib
jpeg4py
kiwisolver
lazy_loader
linformer
loguru
lpips
matplotlib
natsort
networkx
numpy
opencv-python-headless
packaging
Pillow
pluggy
protobuf
psutil
ptflops
pycparser
pyparsing
pytest
pytest-xdist
python-dateutil
PyWavelets
PyYAML
requests
scikit-image
scipy
six
tensorboardX
tifffile
timm
tomli
tqdm
urllib3
yacs
zipp
seaborn